html, body {
  margin: 0;
  padding: 2;
}
body {
  background-image: url("./background.jpg");
  background-size: 1920px 1080px
}
.collapsible {
  background-color: #F96;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.active, .collapsible:hover {
  background-color: #F85;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.SubSidebar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0px
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: Left;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
